In [7]:
#After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count = 0
for i in result:
  if i == "heads":
    count += 1
    print("Heads is",count)

Heads is 1
Heads is 2
Heads is 3
Heads is 4

In [10]:
#Print square of all numbers between 1 to 10 except even numbers
for i in range(1,11):
  if i%2 == 0:
    continue
  print(i*i)

1
9
25
49
81

In [14]:
#Your monthly expense list (from Jan to May) looks like this,
month_list = ["January", "February", "March", "April", "May"]
expense_list = [2340, 2500, 2100, 3100, 2980]
e = input("Enter expense amount: ")
e = int(e)

month = -1
for i in range(len(expense_list)):
    if e == expense_list[i]:
        month = i
        break

if month != -1:
    print(f'You spent {e} in {month_list[month]}')
else:
    print(f'You didn\'t spend {e} in any month')

Enter expense amount: 2340
You spent 2340 in January

In [22]:
#Write a program that prints following shape
# *
# **
# ***
# ****
# *****
for i in range(1,6):
  s=''
  for j in range(i):

    s += '*'
  print(s)

*
**
***
****
*****