In [ ]:
print("Hello")

Hello

In [ ]:
name = input("Enter your name:")
print("Hello,",name,"!Wellcome")

Enter your name:Anil
Hello, Anil !Wellcome

In [ ]:
x,y = input("Enter the Values:").split()
print("Number of boys:",x)
print("Number of girls:",y)

x,y,z= input("Enter the Values:").split()
print("Number of Students:",z)
print("Number of boys:",x)
print("Number of girls:",y)

Enter the Values:10 20
Number of boys: 10
Number of girls: 20
Enter the Values:23 34 56
Number of Students: 56
Number of boys: 23
Number of girls: 34

In [ ]:
a = 5
b = 6
print(a)
print(b)
a,b=b,a
print(a,b)
print(a)
print(b)

5
6
6 5
6
5

In [2]:
# Print a full name

a = "Anil"
b = "Kumar"
c = " G R"
print("Full name:"+a+" "+b+" "+c)

Full name:Anil Kumar  G R

In [3]:
# Find age based on the year

date_of_year = 2004
Current_year = 2025
age = Current_year-date_of_year
print(age)

21

In [4]:
# area of football ground
# foot ball ground length and breath
l = 92
b = 48.8
area = l*b
print("Area of footBall Ground:",area)

Area of footBall Ground: 4489.599999999999

In [5]:
#You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

chips = 9
cost = 1.49
total_cost = chips*cost
return_amount = 20-total_cost
print("ShopKeeper return amount:",return_amount)

ShopKeeper return amount: 6.59

In [6]:
#You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python
length = 5.5
area = length**2
cost = area*500
print("Total Cost to replace it :",cost)

Total Cost to replace it : 15125.0

In [9]:
#Print binary representation of number 17
num = 12
print("Binary representation of 12 is",format(num,'b'))

Binary representation of 17 is 1100